.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cs-message--outgoing .cs-message__sender-name {
    display: block !important;
}

.cs-message--outgoing .cs-message__sent-time {
    display: block !important;
}